@media only screen and (max-width: 768px) { 

    
    .AlbumArtist {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 10px;
        text-shadow:  0.5px 0.5px 0px black, 2px 2px 0px black
    }

    .ImagemAlbum {
        width: 150px;
        border: 1px solid white;
        margin-bottom: 10px;
    }

    
    
    .NameAlbum{
        color: white;
        display: flex;
        font-style: normal;
        font-size: 14px;
        line-height: 150%;
        font-weight: 700;
        justify-content: center;
    }
    
    .CollectionAlbum{
        color: white;
        font-size: 20px;
        line-height: 150%;
        font-weight: 700;
        
    }

    
    .AlbumNameContent {
        display: flex;
        flex-direction: column-reverse;
        text-shadow:  0.5px 0.5px 0px black, 2px 2px 0px black;
        margin-bottom: 10px;
    }

}

@media only screen and (min-width: 770px) { 
    .AlbumArtistContent {
        height: 220px;
        background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 4%, rgba(0,212,255,1) 100%);
        justify-content: center;
        text-align: center;
        align-content: center;
        align-items: center;
        margin: 0 auto;
    }
    
    .AlbumArtist {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 25vh;
        text-shadow:  0.5px 0.5px 0px black, 2px 2px 0px black
    }
    
    .ImagemAlbum {
        width: 200px;
        margin-top: 10vh;
        border-radius: 20px;
        border: 1px solid white;
    }
    
    .NameAlbum{
        color: white;
        font-style: normal;
        font-size: 14px;
        line-height: 150%;
        font-weight: 400;
    }
    
    .CollectionAlbum{
        color: white;
        font-size: 20px;
        line-height: 150%;
        font-weight: 700;
        
    }
    
    .AlbumNameContent {
        display: flex;
        flex-direction: column-reverse;
        margin-left: 30px;
    }
    
    .Album {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin-left: 30vh;
    }
}