@media only screen and (max-width: 768px) { 

h2 {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    color: white;
} 
}

@media only screen and (min-width: 769px) { 

    body {
        margin: 0;
        padding: 0;
    }

    .FavoriteContent {
        height: 220px;
        background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 4%, rgba(0,212,255,1) 100%);
        justify-content: center;
        text-align: center;
        align-content: center;
        align-items: center;
        margin: 0 auto;
    }
    
    .FavoriteMainContent {
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        margin: 0 auto;
    }

    .FavoriteMain {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        align-content: center;
        width: 10%;
        margin-left: 20vh;
    }
    
    .FavoritesLiContent {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        list-style: none;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    
    h2 {
        display: flex;
        justify-content: center;
        color: white;
        align-items: center;
        margin-left: 26vh;
    }
}