@media only screen and (max-width: 768px) { 

.MusicCardContent {
    display: flex;
    align-items: center;
    gap: 15px;
    height: 80px;
}

h3 {
    display: flex;
    width: 150px;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
}

}

@media only screen and (min-width: 770px) { 

  .MusicCardContent {
    display: flex;
    align-items: center;
    gap: 15px;
    height: 80px;
}

h3 {
    display: flex;
    width: 150px;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
}


input[type="checkbox"] {
    appearance: none;
    cursor: pointer;
    color: #f00;
  }
  
  input[type="checkbox"]:before {
    content: "\2764";
    color: white;
    font-size: 30px;
  }
  
  input[type="checkbox"]:checked::before {
    color: #f00;
  }
}