@media only screen and (max-width: 768px) { 
    
    .FormProfile {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .DescriptionProfileContent {
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items: center;
        justify-content: center;
        gap: 10px;
        color: white;
    }

    .NameProfileContent {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        gap: 10px;
        color: white;
    }

    .EmailProfileContent {
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items: center;
        justify-content: center;
        gap: 10px;
        color: white;
    }
    
    
    .ImagemProfile{
        width: 150px;
        border-radius: 50%;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        color: white;

    }
    
    .LinkButton {
        width: 152px;
        height: 40px;
        background-color: #003BE5;
        border-radius: 100px;
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex;
        text-decoration: none;
        color: white;
        text-transform: uppercase;
    }
    
    span {
        gap: 1px;
    }
    
}

@media only screen and (min-width: 770px) {

    .ProfilexContent {
        height: 220px;
        background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 4%, rgba(0,212,255,1) 100%);
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        margin-left: 23vh;
    }
    
    .FormProfile {
        display: flex;
        gap: 16px;
        flex-direction: column;
    }

    .teste {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 150px;
    }
    
    .FormProfileTest {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    .ImagemAlbumContent {
        justify-content: flex-end;
        display: flex;

    }

    .ImagemALbumContentContent {
        width: 80%;
    }

    .ImagemProfile{
        border-radius: 50%;
        width: 230px;
        margin-top: 100px;
        display: flex;
        justify-content: center;
    }
    
    .LinkButton {
        padding: 10px 25px;
        margin: 0 auto;
        background-color: #003BE5;
        border-radius: 100px;
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex;
        text-decoration: none;
        color: white;
        text-transform: uppercase;
    }
    
    span {
        gap: 1px;
    }
 }