@media only screen and (max-width: 768px) {

.ImagemProfileEdit {
    width: 150px;
    margin: 0 auto;
    border-radius: 50%;
    justify-content: center;
    display: flex;
    margin-top: 20px;
}

.FormProfileContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


.NameForm {
    display: flex;
    flex-direction: column;
    color: white;
}

.InputName {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 200px;
    height: 37px;
    background: #F0F2F5;
    border-radius: 2%;
    border: 1px solid blue;
    text-align: center;

}

.EmailForm {
    display: flex;
    flex-direction: column;
    color: white;
}

.InputEmail{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 200px;
    height: 37px;
    background: #F0F2F5;
    border-radius: 2%;
    border: 1px solid blue;
    text-align: center;

}

.DescriptionForm {
    display: flex;
    flex-direction: column;
    color: white;
}

.InputDescription{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 200px;
    height: 80px;
    background: #F0F2F5;
    border-radius: 2%;
    border: 1px solid blue;
    text-align: center;

}

.ImagemForm {
    display: flex;
    flex-direction: column;
    color: white;
}

.InputImagem{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 200px;
    height: 30px;
    background: #F0F2F5;
    border-radius: 2%;
    border: 1px solid blue;
    text-align: center;
    margin-bottom: 20px;

}

.ButtonForm {
    display: flex;
}

.InputButton{
    width: 152px;
    height: 40px;
    background: #003BE5;
    border-radius: 100px;
    border-style: none;
    text-transform: uppercase;
    color: white;
    margin: 0 auto;

}

.InputButton:hover{
    cursor: pointer;
}
}

@media only screen and (min-width: 770px) { 
    .ProfileEditContent {
        height: 220px;
        background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 4%, rgba(0,212,255,1) 100%);
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        margin-left: 23vh;
    }

    
    .FormProfileContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        gap: 30px;
        margin-top: 15vh;
    }

    .FormProfileContentContent {
        justify-content: center;
        display: flex;

    }

    .FormProfileEditContent {
        width: 80%;
        text-align: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        
    }

    .NameLabel {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: white;
        text-shadow:  0.5px 0.5px 0px black, 2px 2px 0px black
    }

    .EmailLabel {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: white;
        text-shadow:  0.5px 0.5px 0px black, 2px 2px 0px black
    }

    .DescriptionLabel {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: white;
        text-shadow:  0.5px 0.5px 0px black, 2px 2px 0px black
    }

    .FotoLabel {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: white;
        text-shadow:  0.5px 0.5px 0px black, 2px 2px 0px black
    }
    
    .NameForm {
        display: flex;
        flex-direction: column;
    }


    
    .InputName {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 288px;
        height: 37px;
        background: #F0F2F5;
        border-radius: 2%;
        border: 1px solid blue;
        text-align: center;
    
    }

    .ImagemAlbumContentEdit {
        justify-content: flex-end;
        display: flex;

    }

    .ImagemALbumContentContentEdit {
        width: 80%;
    }

    .ImagemProfileEdit{
        border-radius: 50%;
        width: 230px;
        margin-top: 100px;
        display: flex;
        justify-content: center;
    }
    
    .EmailForm {
        display: flex;
        flex-direction: column;
    }
    
    .InputEmail{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 288px;
        height: 37px;
        background: #F0F2F5;
        border-radius: 2%;
        border: 1px solid blue;
        text-align: center;
    
    }
    
    .DescriptionForm {
        display: flex;
        flex-direction: column;
    }
    
    .InputDescription{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 288px;
        height: 80px;
        background: #F0F2F5;
        border-radius: 2%;
        border: 1px solid blue;
        text-align: center;
    
    }
    
    .ImagemForm {
        display: flex;
        flex-direction: column;
    }
    
    .InputImagem{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 288px;
        height: 30px;
        background: #F0F2F5;
        border-radius: 2%;
        border: 1px solid blue;
        text-align: center;
    
    }
    
    .FotoButton {
        display: flex;
        width: 600px;
        flex-direction: column;
        align-items: center;
    }
    
    .ButtonForm {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
    }
    
    .InputButton{
        width: 152px;
        height: 40px;
        background: #003BE5;
        border-radius: 100px;
        border-style: none;
        text-transform: uppercase;
        color: white;
    
    }
    
    .InputButton:hover{
        cursor: pointer;
    }
}