.SearchContent {
    left: 250px;
    top: 0px;
    width: 1431px;
    height: 250px;
    background: linear-gradient(123.66deg, #003BE5 12.08%, #00D5E2 86.52%);
}

.FormProfile {
    display: flex;
    margin-top: 350px;
    margin-left: 700px;
    gap: 16px;
    flex-direction: column;
}


.ImagemProfile{
    margin-top: 280px;
    margin-left: 550px;
    width: 350px;
    border-radius: 3%;
    display: inline-block;
    position: absolute;
}

.LinkButton {
    margin-top: 2%;
    width: 152px;
    height: 40px;
    background-color: #003BE5;
    border-radius: 100px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

span {
    gap: 1px;
}
