
@media only screen and (max-width: 768px) { 

    .SearchImage {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1131%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cuse xlink:href='%23SvgjsG1137' transform='translate(0%2c 0)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1137' transform='translate(0%2c 384.00000000000006)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1137' transform='translate(384.00000000000006%2c 0)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1137' transform='translate(384.00000000000006%2c 384.00000000000006)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1137' transform='translate(768.0000000000001%2c 0)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1137' transform='translate(768.0000000000001%2c 384.00000000000006)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1137' transform='translate(1152.0000000000002%2c 0)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1137' transform='translate(1152.0000000000002%2c 384.00000000000006)' fill='%230f457b'%3e%3c/use%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1131'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cg id='SvgjsG1135'%3e%3cpath d='M3.755 2.315h2.494v11.128h-2.494zM13.507 0.537H16v11.261h-2.493z'%3e%3c/path%3e%3cpath d='M4.451 5.556l-0.696-3.24L16 0v3.167z'%3e%3c/path%3e%3cpath d='M0 13.443a3.124 2.606 0 1 0 6.249 0 3.124 2.606 0 1 0-6.249 0'%3e%3c/path%3e%3cpath d='M9.751 11.798a3.124 2.606 0 1 0 6.249 0 3.124 2.606 0 1 0-6.249 0'%3e%3c/path%3e%3c/g%3e%3cg id='SvgjsG1133'%3e%3cpath d='M0 5.2h3.15v5.6H0z'%3e%3c/path%3e%3cpath d='M6.257 14.325L2.407 10.8v-5.511l3.85-3.614L7.141 8z'%3e%3c/path%3e%3cpath d='M6.257 1.675S7.14 4.852 7.14 8s-0.883 6.325-0.883 6.325m7.927 0.947l-1.304-0.671c0.015-0.03 1.562-3.093 1.562-6.825 0-3.707-1.789-6.755-1.807-6.785l1.258-0.754c0.082 0.137 2.015 3.412 2.015 7.538 0 4.101-1.653 7.361-1.724 7.497z'%3e%3c/path%3e%3cpath d='M11.799 13.516l-1.304-0.671c0.011-0.021 1.138-2.258 1.137-4.979 0-2.712-1.301-4.915-1.313-4.937l1.257-0.753c0.063 0.104 1.523 2.579 1.523 5.691 0 3.088-1.248 5.545-1.302 5.649z'%3e%3c/path%3e%3cpath d='M9.543 11.59l-1.304-0.671c0.006-0.012 0.696-1.387 0.696-3.053 0-1.64-0.793-3-0.801-3.013l1.259-0.752c0.041 0.069 1.009 1.708 1.01 3.765 0 2.033-0.823 3.656-0.859 3.724z'%3e%3c/path%3e%3c/g%3e%3cg id='SvgjsG1136'%3e%3cpath d='M3.044 12.188V8.93c0-2.836 2.475-5.244 5.463-5.245 3.022-0.004 5.465 2.352 5.465 5.245v3.258h1.351V8.93C15.332 5.276 12.27 2.325 8.51 2.325 4.777 2.325 1.689 5.333 1.689 8.93v3.258h1.355z'%3e%3c/path%3e%3cpath d='M5.463 14.702l-1.781 0.006V9.593h1.785c0.921 2.372 0 5.111 0 5.111m6.049-5.109H13.298V14.702l-1.783 0.006c-0.921-2.373 0-5.113 0-5.113'%3e%3c/path%3e%3c/g%3e%3cg id='SvgjsG1134'%3e%3cpath d='M1.099-0.001l13.803 7.969-13.803 7.969V-0.002z' fill-rule='evenodd'%3e%3c/path%3e%3c/g%3e%3cg id='SvgjsG1132'%3e%3cpath d='M15.981 12.616l-7.963-4.598L15.981 3.421v9.195 0zM8 12.615L0.037 8.018 8 3.42v9.196V12.615z' fill-rule='evenodd'%3e%3c/path%3e%3c/g%3e%3cg id='SvgjsG1137'%3e%3cuse xlink:href='%23SvgjsG1132' transform='translate(0%2c 0) scale(1.6)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1132' transform='translate(0%2c 38.400000000000006) scale(1.6)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1133' transform='translate(0%2c 76.80000000000001) scale(1.6)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1133' transform='translate(0%2c 115.20000000000002) scale(1.6)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1134' transform='translate(0%2c 153.60000000000002) scale(1.6)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1133' transform='translate(0%2c 192.00000000000003) scale(1.6)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1135' transform='translate(0%2c 230.40000000000003) scale(1.6)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1134' transform='translate(0%2c 268.80000000000007) scale(1.6)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1134' transform='translate(0%2c 307.20000000000005) scale(1.6)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1132' transform='translate(0%2c 345.6) scale(1.6)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1132' transform='translate(38.400000000000006%2c 0) scale(1.6)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1136' transform='translate(38.400000000000006%2c 38.400000000000006) scale(1.6)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1132' transform='translate(38.400000000000006%2c 76.80000000000001) scale(1.6)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1136' transform='translate(38.400000000000006%2c 115.20000000000002) scale(1.6)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1134' transform='translate(38.400000000000006%2c 153.60000000000002) scale(1.6)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1133' transform='translate(38.400000000000006%2c 192.00000000000003) scale(1.6)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1133' transform='translate(38.400000000000006%2c 230.40000000000003) scale(1.6)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1133' transform='translate(38.400000000000006%2c 268.80000000000007) scale(1.6)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1135' transform='translate(38.400000000000006%2c 307.20000000000005) scale(1.6)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1134' transform='translate(38.400000000000006%2c 345.6) scale(1.6)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1134' transform='translate(76.80000000000001%2c 0) scale(1.6)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1133' transform='translate(76.80000000000001%2c 38.400000000000006) scale(1.6)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1132' transform='translate(76.80000000000001%2c 76.80000000000001) scale(1.6)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1136' transform='translate(76.80000000000001%2c 115.20000000000002) scale(1.6)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1135' transform='translate(76.80000000000001%2c 153.60000000000002) scale(1.6)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1132' transform='translate(76.80000000000001%2c 192.00000000000003) scale(1.6)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1136' transform='translate(76.80000000000001%2c 230.40000000000003) scale(1.6)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1135' transform='translate(76.80000000000001%2c 268.80000000000007) scale(1.6)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1136' transform='translate(76.80000000000001%2c 307.20000000000005) scale(1.6)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1136' transform='translate(76.80000000000001%2c 345.6) scale(1.6)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1135' transform='translate(115.20000000000002%2c 0) scale(1.6)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1132' transform='translate(115.20000000000002%2c 38.400000000000006) scale(1.6)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1136' transform='translate(115.20000000000002%2c 76.80000000000001) scale(1.6)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1134' transform='translate(115.20000000000002%2c 115.20000000000002) scale(1.6)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1132' transform='translate(115.20000000000002%2c 153.60000000000002) scale(1.6)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1134' transform='translate(115.20000000000002%2c 192.00000000000003) scale(1.6)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1133' transform='translate(115.20000000000002%2c 230.40000000000003) scale(1.6)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1134' transform='translate(115.20000000000002%2c 268.80000000000007) scale(1.6)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1134' transform='translate(115.20000000000002%2c 307.20000000000005) scale(1.6)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1133' transform='translate(115.20000000000002%2c 345.6) scale(1.6)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1132' transform='translate(153.60000000000002%2c 0) scale(1.6)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1136' transform='translate(153.60000000000002%2c 38.400000000000006) scale(1.6)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1136' transform='translate(153.60000000000002%2c 76.80000000000001) scale(1.6)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1133' transform='translate(153.60000000000002%2c 115.20000000000002) scale(1.6)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1134' transform='translate(153.60000000000002%2c 153.60000000000002) scale(1.6)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1135' transform='translate(153.60000000000002%2c 192.00000000000003) scale(1.6)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1132' transform='translate(153.60000000000002%2c 230.40000000000003) scale(1.6)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1134' transform='translate(153.60000000000002%2c 268.80000000000007) scale(1.6)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1134' transform='translate(153.60000000000002%2c 307.20000000000005) scale(1.6)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1134' transform='translate(153.60000000000002%2c 345.6) scale(1.6)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1135' transform='translate(192.00000000000003%2c 0) scale(1.6)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1136' transform='translate(192.00000000000003%2c 38.400000000000006) scale(1.6)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1132' transform='translate(192.00000000000003%2c 76.80000000000001) scale(1.6)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1133' transform='translate(192.00000000000003%2c 115.20000000000002) scale(1.6)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1136' transform='translate(192.00000000000003%2c 153.60000000000002) scale(1.6)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1136' transform='translate(192.00000000000003%2c 192.00000000000003) scale(1.6)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1136' transform='translate(192.00000000000003%2c 230.40000000000003) scale(1.6)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1134' transform='translate(192.00000000000003%2c 268.80000000000007) scale(1.6)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1135' transform='translate(192.00000000000003%2c 307.20000000000005) scale(1.6)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1135' transform='translate(192.00000000000003%2c 345.6) scale(1.6)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1136' transform='translate(230.40000000000003%2c 0) scale(1.6)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1135' transform='translate(230.40000000000003%2c 38.400000000000006) scale(1.6)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1134' transform='translate(230.40000000000003%2c 76.80000000000001) scale(1.6)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1136' transform='translate(230.40000000000003%2c 115.20000000000002) scale(1.6)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1135' transform='translate(230.40000000000003%2c 153.60000000000002) scale(1.6)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1132' transform='translate(230.40000000000003%2c 192.00000000000003) scale(1.6)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1132' transform='translate(230.40000000000003%2c 230.40000000000003) scale(1.6)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1132' transform='translate(230.40000000000003%2c 268.80000000000007) scale(1.6)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1133' transform='translate(230.40000000000003%2c 307.20000000000005) scale(1.6)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1136' transform='translate(230.40000000000003%2c 345.6) scale(1.6)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1133' transform='translate(268.80000000000007%2c 0) scale(1.6)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1133' transform='translate(268.80000000000007%2c 38.400000000000006) scale(1.6)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1136' transform='translate(268.80000000000007%2c 76.80000000000001) scale(1.6)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1133' transform='translate(268.80000000000007%2c 115.20000000000002) scale(1.6)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1134' transform='translate(268.80000000000007%2c 153.60000000000002) scale(1.6)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1136' transform='translate(268.80000000000007%2c 192.00000000000003) scale(1.6)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1135' transform='translate(268.80000000000007%2c 230.40000000000003) scale(1.6)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1136' transform='translate(268.80000000000007%2c 268.80000000000007) scale(1.6)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1132' transform='translate(268.80000000000007%2c 307.20000000000005) scale(1.6)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1132' transform='translate(268.80000000000007%2c 345.6) scale(1.6)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1134' transform='translate(307.20000000000005%2c 0) scale(1.6)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1133' transform='translate(307.20000000000005%2c 38.400000000000006) scale(1.6)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1136' transform='translate(307.20000000000005%2c 76.80000000000001) scale(1.6)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1133' transform='translate(307.20000000000005%2c 115.20000000000002) scale(1.6)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1134' transform='translate(307.20000000000005%2c 153.60000000000002) scale(1.6)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1136' transform='translate(307.20000000000005%2c 192.00000000000003) scale(1.6)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1135' transform='translate(307.20000000000005%2c 230.40000000000003) scale(1.6)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1135' transform='translate(307.20000000000005%2c 268.80000000000007) scale(1.6)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1135' transform='translate(307.20000000000005%2c 307.20000000000005) scale(1.6)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1132' transform='translate(307.20000000000005%2c 345.6) scale(1.6)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1133' transform='translate(345.6%2c 0) scale(1.6)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1132' transform='translate(345.6%2c 38.400000000000006) scale(1.6)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1132' transform='translate(345.6%2c 76.80000000000001) scale(1.6)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1132' transform='translate(345.6%2c 115.20000000000002) scale(1.6)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1135' transform='translate(345.6%2c 153.60000000000002) scale(1.6)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1134' transform='translate(345.6%2c 192.00000000000003) scale(1.6)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1135' transform='translate(345.6%2c 230.40000000000003) scale(1.6)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1136' transform='translate(345.6%2c 268.80000000000007) scale(1.6)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1136' transform='translate(345.6%2c 307.20000000000005) scale(1.6)' fill='%230f457b'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1136' transform='translate(345.6%2c 345.6) scale(1.6)' fill='%230f457b'%3e%3c/use%3e%3c/g%3e%3c/defs%3e%3c/svg%3e");
        background-repeat: no-repeat;
        bottom: 0;
        color: black;
        left: 0;
        overflow: auto;
        position: absolute;
        right: 0;
        text-align: center;
        top: 0;
        background-size: cover;
    }


.NameAlbumSearch{
    font-size: 12;
    line-height: 150%;
    font-weight: 700px;
    font-style: normal;
    color: white;
    text-shadow:  1px 1px 0px black, 2px 2px 0px black;
}



.SearchContentMainALbum {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
    margin-top: 7%;
}



.SearchInput {
    width: 220px;
    height: 30px;
    background-color: rgb(210, 218, 231);
    box-shadow: 0px 0px 26px rgba(34, 33, 33, 0.5);
    border-radius: 23px;
    text-align: center;
    font-style: 400;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    color: black;
}

.SearchButton {
    width: 100px;
    height: 30px;
    border-radius: 23px;
    border-style: none;
    background: #00D5E2;
    margin-left: 10px;
    font-style: 700;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    color: white;
}

.SearchedAlbum {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

.AlbumName {
    display: flex;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: white;
    text-shadow:  1px 1px 0px black, 2px 2px 0px black
}

.ImageAlbum {
    
    border: 3px solid white;
    border-radius: 15%;
}

.AlbumSearchContentMain {
    background-color: rgba(0, 213, 226, 0.8);
    height: 95px;
}

ul {
    padding: 0;
}

li {
    border: 1px solid white;
    height: 270px;
    margin: 10px;
}

.LiAlgumContent {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
}



.LiContent {
    width: 200px;

}

}

@media only screen and (min-width: 770px) { 

    body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        background-color:rgba(14, 42, 71, 1)
    }

    .SearchContentMainALbum {
        height: 220px;
        background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 4%, rgba(0,212,255,1) 100%);
        justify-content: center;
        text-align: center;
        align-content: center;
        align-items: center;
        margin: 0 auto;
    }


    .NameAlbumSearch{
        font-size: 13;
        line-height: 150%;
        font-weight: 700px;
        color: black;
        text-shadow:  0.5px 0.5px 0px black, 2px 2px 0px white
        
    }

    .AlbumContent {
        margin-left: 110px;
    }
    
    .AGORA {
        margin-left: 30vh;
    }

    .SearchMainAlbumContent {
        height: 25vh;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        align-content: center;
        margin-left: 80px;
    }
       
    .SearchInput {
        width: 400px;
        height: 40px;
        background: rgba(235, 255, 255, 0.5);
        border-style: none;
        border-radius: 23px;
        text-align: center;
        font-style: 400;
        font-size: 14px;
        line-height: 14px;
        text-transform: uppercase;
        
    }


    
    .SearchButton {
        width: 114px;
        height: 40px;
        border-radius: 23px;
        border-style: none;
        background: #00D5E2;
        margin-left: 10px;
        font-style: 700;
        font-size: 14px;
        line-height: 14px;
        text-transform: uppercase;
        color: black;
    }


    
    .SearchedAlbum {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        align-items: center;
        flex-direction: column;
        align-content: center;
        margin: 0 auto;
        
    }    


    .AlbumName {
        display: flex;
        font-weight: 700;
        font-size: 25px;
        line-height: 20px;
        text-align: center;
        color: white;
        text-shadow:  1px 1px 0px black, 2px 2px 0px black;
    }

    .ImageAlbum {
    
        border: 3px solid black;
        border-radius: 15%;
    }


    .AlbumSearchContentMain {
    background-color: rgba(0, 213, 226, 0.8);
    height: 95px;
    
    }

    li {
    border: 1px solid white;
    width: 210px;
    }
    
    
    .LiAlgumContent {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        list-style: none;
        margin: 50px;
    }
    
    .ImageAlbum {
        width: 200px;
    }
    
    .LiContent {
        width: 200px;
        margin: 10px;
    } 
}